<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="390px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Resources 💰
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <a href="https://angular.io/guide/service-worker-getting-started">https://angular.io/guide/service-worker-getting-started</a>
          <a href="https://angular.io/guide/service-worker-config">https://angular.io/guide/service-worker-config</a>
          <a href="https://github.com/tomeustace/intro-to-angular-pwa">https://github.com/tomeustace/intro-to-angular-pwa</a>
          <a href="https://blog.angular-university.io/angular-service-worker/">https://blog.angular-university.io/angular-service-worker/</a>
          <a href="https://angular-pwa-talk.web.app/">https://angular-pwa-talk.web.app/</a>
          <a href="https://web.dev/learn/pwa/progressive-web-apps/">https://web.dev/learn/pwa/progressive-web-apps/</a>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Books 📚
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <a href="https://www.amazon.com/Progressive-Web-Apps-Angular-Responsive/dp/1484244478">https://www.amazon.com/Progressive-Web-Apps-Angular-Responsive/dp/1484244478</a>
          <a href="https://www.amazon.com/Progressive-Web-Application-Development-Example/dp/1787125424">https://www.amazon.com/Progressive-Web-Application-Development-Example/dp/1787125424</a>
          <a href="https://www.amazon.co.uk/Progressive-Apps-Dean-Alan-Hume/dp/1617294586">https://www.amazon.co.uk/Progressive-Apps-Dean-Alan-Hume/dp/1617294586</a>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
