<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="390px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>
              My Background 🧝‍♂️
            </mat-card-title>
          </mat-card-header>
          <p>Staff UI Engineer</p>
          <p>Live in West coast of Ireland</p>
          <p>Angular / Web enthusiast</p>
          <p>Developing realtime analytics applications</p>
          <p>Experience developing PWAs</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>
              What are PWAs?
            </mat-card-title>
          </mat-card-header>
            <q>
              Progressive Web Apps are web applications that have been designed to be capable, reliable, and installable. These three pillars transform them into an experience that feels like a platform-specific application.
            </q>
            <b> web.dev</b>
            <p>
            </p>
            <p>
            </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Why use PWAs?
            </mat-card-title>
          </mat-card-header>
        <mat-card-content>
            <p>
              PWAs are faster, more reliable, and more engaging than traditional websites.
              It can access your camera, microphone, GPS, allowing near parity with native applications.
            </p>
            <ul>
              <li>Works Offline</li>
              <li>Installable</li>
              <li>Feature Rich</li>
              <li>App Store ready</li>
              <li>Fast</li>
              <li>Cross Platform</li>
              <li>Cost Effective</li>
              <li>Web Share</li>
            </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <img style="position: absolute; bottom: 350px;"
              width="700px"
              height="400px"
              src="./../../assets/quote.jpeg"/>
    </mat-grid-tile>
  </mat-grid-list>
</div>
